.modal-container {
    position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
}
.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .1;
    z-index: 90000;
    background-color: #0070ba;
}
.template-nav {
    background-color: transparent;
    z-index: 99999;
}
.navbar-inner {
    background: transparent;
}
.navbar-default {
    background: #ffffff;
    opacity: .8;
    z-index: 99999;
}
.navbar-default .navbar-nav>li>a {
    color: #337ab7;
    font-weight: bolder;
    font-size: medium;
}
.navbar-default .navbar-brand {
    position: relative;
    top: -10px;
    color: #337ab7;
    font-size: xx-large;
    font-weight: bolder;
    line-height: 20px;
}
.navbar-default .navbar-brand .mirrage {
    /*display: block;
    color: #337ab7;
    font-size: xx-large;
    font-weight: bolder;
    line-height: 20px;
    content: "reflect";*/
    opacity: .4;
    font-style: italic;
    color: linear-gradient(to bottom, #337ab7, #ffffff);
    font-size: xx-large;
    line-height: 20px;
    transition: none;
    -webkit-transform: scaleY(-0.35) translateY(-140%);
    transform: scaleY(-0.35) translateY(-140%);
    -webkit-transform-origin: 50% 0 0;
    transform-origin: 50% 0 0;
}
.navbar-default .navbar-brand .mirrage-origin {
    display: block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    float: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    content: "reflect";
    cursor: default;
    opacity: 1;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: visible;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    font: normal 80px/0 "Nova Flat", Helvetica, sans-serif;
    color: rgba(84, 84, 84, 1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: scaleY(-0.5) translateY(-20%);
    transform: scaleY(-0.5) translateY(-20%);
    -webkit-transform-origin: 50% 0 0;
    transform-origin: 50% 0 0;
}
.logoStyle {
    height: inherit;
}

/**/
@media(max-width:767px) {
    body {
        /*min-height: 767px;*/
    }
}
@media(max-width:767px) and (orientation:landscape) {
    body {
        /*min-height: 767px;*/
    }
}
@media(min-width:768px) {
    body {
        /*min-height: 768px;*/
    }
}
@media(min-width:992px) {
    body {
        /*min-height: 992px;*/
    }
}
@media(min-width:1200px) {
    body {
        /*min-height: 1200px;*/
    }
}
/**
 *
 */

body {
    background: #bbd2ed;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #bbd2ed, #ffffff);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #bbd2ed, #ffffff);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #bbd2ed, #ffffff);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #bbd2ed, #ffffff);
    /* Standard syntax */
    background-repeat: no-repeat;
    /*min-height: 900px;*/
    position: relative;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    background: #bbd2ed;
    background: -webkit-linear-gradient(left, #bbd2ed, #ffffff);
    background: -o-linear-gradient(right, #bbd2ed, #ffffff);
    background: -moz-linear-gradient(right, #bbd2ed, #ffffff);
    background: linear-gradient(to right, #bbd2ed, #ffffff);
    background-repeat: repeat-y;
}
